<h2>Productos Agregados</h2>

<ul id="conteiner">
    {{#each nuevoProdAgregado}}
    <li>{{nombre}} - ${{precio}}</li>
    {{/each}}

</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>