<div>
    <form action="" id="formProducts">
        <input type="text" id="msgProducts" placeholder="escribe el producto" required>
        <input type="number" id="precioProd" placeholder="monto del producto" required>
        <button type="submit">agregar producto</button>
        <button type="button" id="eliminarProd"> eliminar producto</button>
    </form>
    <ul id="listProducts"></ul>
    <a href="/"></a>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>